body{
    margin: 0;
}
header{
    background-color: rgb(226, 110, 26);
    padding: 10px;
    text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #dd902b;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .active {
    background-color: #4e341d;
  }

  footer{
        background-color: rgb(226, 110, 26);
        text-align: center;
        padding: 10px;
  }