header img{
    width: 100%;
    height: 70vh;
}
#texto-card{
    margin-top: 15%;
}
.card-img-top {
    width: 100%;
    height: 15rem;
    object-fit: cover;
}
#contacto{
    width: 70%;
}
#acerca{
    text-align: center;
}
