
header { 
    grid-area: header; 
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;

}
nav { 
    grid-area: nav; 
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}
section#servicios { 
    grid-area: servicios;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px; 
}
section#productos { 
    grid-area: productos; 
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}
aside { 
    grid-area: publicidad;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px; 
}
footer {
    grid-area: footer;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'nav servicios servicios servicios publicidad publicidad '
    'nav productos productos productos publicidad publicidad '
    'nav footer footer footer footer footer';
  gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}
